.DS_Store
Makefile
.deps
config.log
config.status
examples/example_tests.sh
include/config.h
include/stamp-h1
tests/cnf_tests.sh
tests/longer_tests.sh
tests/trace_tests.sh
tests/xor_tests.sh
*.o
*.a
src/formats/5/*cc
src/formats/5/*h
src/formats/aigtoaig
src/generator/gentest
src/sbsat
src/generator/slider3.py
